### Основные зависимости
torch==2.7.0
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.3
starlette==0.46.2
httpx==0.28.1

### NLP и обработка текста
spacy==3.8.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
ru_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.8.0/ru_core_news_sm-3.8.0-py3-none-any.whl
transformers==4.49.0
tokenizers==0.21.0
nltk==3.9.1
pymorphy3==2.0.3
pymorphy3-dicts-ru==2.4.417150.4580142
DAWG2-Python==0.9.0

### Работа с данными
numpy==2.0.1
pandas==2.2.3
scipy==1.15.2
scikit-learn==1.6.1
pyarrow==19.0.0
datasets==3.3.2
huggingface-hub==0.29.2

### Вспомогательные утилиты
python-dotenv==1.1.0
rich==14.0.0
tqdm==4.67.1
filelock==3.17.0
requests==2.32.3

### Тестирование
pytest==8.3.5